* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background: rgb(43, 77, 8);
  font-size: 50px;
  color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.main {
  background: rgb(9, 220, 9);
  font-size: 30px;
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div{
    background: yellow;
    
}

.footer {
  background: rgb(2, 59, 2);
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}